/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.container-1 {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.section-main {
    padding: 10px;
    margin-bottom: 30px;
    padding-top: 60px;
}

.h2-1 {
    padding: 10px 0 40px 0;
    font-size: 1.75rem;
}

h4 {
    font-size: 1.3rem;
}

.btn-blue {
    text-decoration: none;
    color: white;
    font-size: .8rem;
}

.btn-blue-hero-main {
    background-color: #0061FF;
    height: 35px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER */
/* nav */
nav {
    height: 50px;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 200;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.nav-left {
    text-align: left;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 20px;
}

.link-nav {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.nav-right {
    text-align: right;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 20px;
}

/* hero */
.hero {
    background-color: #B4D0E7;
    margin-bottom: 40px;
    padding: 100px 50px 0px;
}

h1 {
    font-size: 3rem;
}

.section-hero {
    display: flex;
    padding-top: 30px;
    position: relative;
}

.hero-1 {
    margin-right: 20px;
    width: 40%;
    padding-bottom: 20px;
    font-size: .95rem;
    padding-top: 30px;
}

.p-hero {
    padding-bottom: 20px;
}

.btn-blue-hero {
    background-color: #0061FF;
    height: 30px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.p-hero-1 {
    padding-top: 20px;
    padding-bottom: 40px;
}

.arrow-down {
    font-size: 2rem;
}

.hero-2 {
    width: 60%;
    position: absolute;
    right: 0;
    top: 60px;
}

/* MAIN */
/* section-1 */
.input {
    padding-right: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 40px;
}

.col {
    width: calc(100% / 3 - 2rem / 3);
    border: 1px solid #ceced1;
    height: 730px;
}    

.business-plan {
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}

.hr-main {
    background: #ceced1;
    border: #ceced1;
    height: 1px;
    margin-bottom: 20px;
}

.container-2 {
    padding: 10px;
    font-size: .8rem;
}

.p-cost-plan {
    padding: 10px 0 5px 0;
}

.p-cost-plan-1 {
    padding-bottom: 30px;
    color: #ceced1;
}

.p-cost-plan-2 {
    padding-bottom: 10px;
    font-size: .8rem;
}

.btn-plan-business {
    margin-top: 30px;
    margin-bottom: 20px;
}

.hr-business-plan {
    background: #ceced1;
    border: #ceced1;
    height: 1px;
    margin: 30px 0;
    width: 20%;
}

.h5-main {
    padding-bottom: 20px;
    font-size: .9rem;
}

.check-main {
    color: #0061FF;
}

.salient-point {
    padding-bottom: 10px;
}

.enterprise {
    margin: 40px 0;
    width: 100%;
    height: 230px;
    border: 1px solid #ceced1;
}

.flex-enterprise {
    display: flex;
    justify-content: space-between;
}

.contact-sales-office {
    padding-bottom: 40px;
}

/* section-2 */
.partner-dropbox {
    width: 60%;
}

.partner-dropbox-1 {
    width: 40%;
    font-size: .8rem;
    padding-top: 40px;
}

.flex-1 {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.p-partner-dropbox {
    padding: 20px 0;
}

.btn-black {
    text-decoration: none;
    color: black;
    font-size: .8rem;
}

.btn-black-main {
    list-style-type: none;
    height: 30px;
    width: 125px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section-3 */
.row-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.col-1 {
    width: calc(100% / 3 - 6rem / 3);
    text-align: justify;
}

.operation-dropbox-business {
    padding: 20px 0;
    font-size: .8rem;
}

/* section-4 */
.information-our-clients {
    padding: 40px 0;
    font-size: .8rem;
}

/* section-5 */
.background-brand {
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

.row-3 {
    display: flex;
}

.brand {
    width: calc(100% / 3);
}

.row-2 {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: calc(100% / 2);
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.card-1 {
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}

.card-2 {
    background-color: #61082B;
}

.card-3 {
    background-color: #0093CE;
}

.card-4 {
    background-color: #FF1C1C;
}

.card-5 {
    background-color: #D5001F;    
}

.card-6 {
    background-color: #B4D0E7;
}

.card-7 {
    background-color: #0D2481;
}

.card-8 {
    background-color: #FFD830;
}

.invert {
    filter: invert(100%); 
    -webkit-filter: invert(100%);
}

.central-card { 
    background-color: #F5F5F5;
}

.container-3 {
    padding: 30px;
}

.logo-designit {
    width: 200px;
    height: 60px;
}

.hr-designit {
    background: #D6D6D9;
    border: #D6D6D9;
    height: 1px;
    width: 80px;
    margin: 30px 0;
}

.p-designit {
    padding-bottom: 40px;
    font-size: .8rem;
} 

.free-trial {
    background-color: #B4D0E7;

}

.free-trial-1 {
    width: 70%;
    display: flex;
    align-self: center;
}

.h2-brand {
    color: #61082B;
}

.free-trial-2 {
    width: 30%;
    display: flex;
    align-self: center;
}

.free-trial-3 {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 80px 0;
}

.btn-white {
    text-decoration: none;
    color: black;
    font-size: .8rem;
}

.btn-white-main {
    background-color: white;
    list-style-type: none;
    height: 35px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section-6 */
.requests {
    margin: 60px 0;
    /* debug */
    background-color: gray;
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

/* FOOTER */
/* section-1 */
.footer {
    background-color: black;
}

.section-footer {
    display: flex;
    padding: 60px 10px 60px 10px;
    margin-bottom: 10px;
    gap: 1rem;
}

.col-footer {
    width: calc(100% / 5);
    /* debug */
    height: 250px;
    background-color: wheat;
    border: 1px solid red;
}

.hr-footer {
    width: 20%;
    margin: 0 10px;
}

/* section-2 */
.language {
    text-align: left;
    margin-top: 30px;
    padding: 30px 10px;
}

.select-language {
    /* debug */
    width: 100%;
    height: 40px;
    border: 1px solid red;
    background-color: wheat;
}